.workflow-list
    max-width 50rem
    display block
    margin-right auto
    margin-left auto
    padding-left 0
    padding-right 0
    padding 0 1.25rem
    margin 0 auto 1.875rem
    font-weight 300
    font-style normal
    font-size 1.125rem
    line-height 2
    letter-spacing .01rem
    margin-top rem(30px)
    span
        font-size rem(14px)
        color main
        display inline-block
        border 1px solid main
        border-radius rem(5px)
        padding rem(4px) rem(10px)
        margin-right rem(2px)
        margin-bottom rem(8px)
